@page "/inventories"
@using static IMS.WebApp.Controls.Common.AutoCompleteComponent

@inject NavigationManager navigation
@inject IViewInventoriesByNameUseCase viewInventory

<h3>Inventory List</h3>
<br />
<SearchInventoryComponent OnSearchInventory="OnInventorySearch"></SearchInventoryComponent>
<br />
<InventoryListComponent SearchTerm="@searchTerm"></InventoryListComponent>
<br />
<button type="button" 
        class="btn btn-primary"
        @onclick="AddInventory">Add Inventory</button>

<IMS.WebApp.Controls.Common.AutoCompleteComponent Label="Inventory" SearchFunction="SearchInventory"></IMS.WebApp.Controls.Common.AutoCompleteComponent>

@code {

    private string searchTerm = string.Empty;

    private void OnInventorySearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddInventory(){
        navigation.NavigateTo("/addInventory");
    }

    private List<ItemViewModel>? SearchInventory(string name){
        var list = viewInventory.ExecuteAsync(name).GetAwaiter().GetResult();
        if (list == null) return null;

        return list.Select(x => new ItemViewModel
        {
            Id = x.InventoryId,
            Name = x.InventoryName

        })?.ToList();
    }
    

}
