@inject IViewInventoriesByNameUseCase viewInventoriesByNameUseCase
<table class="table">
    <thead>
        <tr>            
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent Inventories="listInventories"></InventoryListItemComponent>
    </tbody>
</table>


@code {

    private List<Inventory> listInventories = new List<Inventory>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        
        listInventories = (await viewInventoriesByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();


    }

}
