@inject NavigationManager navigation


@if(Inventories != null && Inventories.Count > 0)
{ 
    foreach (var inv in Inventories)
    {
        <tr>
            <td>@inv.InventoryName</td>
            <td>@inv.Price.ToString("c")</td>
            <td>@inv.Quantity</td>
            <td>
                <button type="button" class="btn btn-info">Details</button>
                <button type="button" class="btn btn-primary" @onclick="@(() => EditInventory(inv.InventoryId))">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
            
        </tr>
    }
}

@code {
    [Parameter]
    public List<Inventory> Inventories { get; set; } = new List<Inventory>();

    private void EditInventory(int inventoryId)
    {
        navigation.NavigateTo($"/editInventory/{inventoryId}");
    }
}
