@page "/products"
@inject NavigationManager navigation

<PageTitle>Product List</PageTitle>

<h3>Product List</h3>
<br />
<SearchProductComponenet OnSearchProduct="OnProductSearch"></SearchProductComponenet>
<br />
<ProductListComponent SearchTerm="@searchTerm"></ProductListComponent>
<br />
<button 
    class="btn btn-primary"
    type="button"
    @onclick="AddProduct">Add New Product</button>

@code {
    private string searchTerm = string.Empty;

    private void OnProductSearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }
    private void AddProduct(){
        navigation.NavigateTo("/addProduct");
    }
}
