@page "/about"

<h3>About the build...</h3>
<div class="row">
    <!-- Tech Stack Card -->
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary-subtle">
                The Tech Stack
            </div>
            <div class="card-body">
                <ul style="list-style-type: none;">
                    <li>                      
                        <span class="fs-4"><i class="devicon-blazor-original colored"></i> Blazor WebAssembly</span>        
                    </li>
                    <li>                      
                        <span class="fs-4"><i class="devicon-csharp-line colored"></i> C#</span>        
                    </li>
                    <li>                      
                        <span class="fs-4"><i class="devicon-dotnetcore-plain colored"></i> .NET Core</span>        
                    </li>
                    <li>                      
                        <span class="fs-4"><i class="devicon-bootstrap-plain colored"></i> Bootstrap 5</span>        
                    </li>
                    <li>                      
                        <span class="fs-4"><i class="devicon-css3-plain-wordmark colored"></i> CSS3</span>        
                    </li>
                    <li>                      
                        <span class="fs-4"><i class="devicon-html5-plain-wordmark colored"></i> HTML5</span>        
                    </li>
                    <li>                      
                        <span class="fs-4"><i class="devicon-javascript-plain colored"></i> JavaScript</span>        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Build Card -->
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary-subtle">
                The Buildout...
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

@code {

}
