@page "/"


@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

@inject IEditInventoryUseCase EditInventoryUseCase



<PageTitle>Home</PageTitle>
<h1 class="display-1 text-center">Blazin'</h1>
<h2 class="display-2 text-center">Inventory Management System</h2>




@code {

    private List<Inventory> _inventories = new List<Inventory>();

    
    protected override async Task OnInitializedAsync()
    {
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
        

        var inventory = new Inventory { InventoryId = 1, InventoryName = "Bike Seat", Quantity = 101, Price = 2 };
        await EditInventoryUseCase.ExecuteAsync(inventory);

        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}

    
