@page "/"


@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject IEditInventoryUseCase EditInventoryUseCase



<PageTitle>Test Page</PageTitle>
<br />
<ul>
    @foreach (var inventory in _inventories)
    {
        <li>@inventory.InventoryName</li>
    }
</ul>


@code {

    private List<Inventory> _inventories = new List<Inventory>();
    protected override async Task OnInitializedAsync()
    {
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();

        var inventory = new Inventory { InventoryId = 1, InventoryName = "Bike Seat", Quantity = 101, Price = 2 };
        await EditInventoryUseCase.ExecuteAsync(inventory);

        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}

