@if(Products != null && Products.Count > 0)
{ 
    foreach (var prod in Products)
    {
        <tr>
            <td>@prod.ProductName</td>
            <td>@prod.Price.ToString("c")</td>
            <td>@prod.Quantity</td>
            <td>
                <button type="button" class="btn btn-info">Details</button>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
            
        </tr>
    }
}

@code {
    [Parameter]
    public List<Product> Products { get; set; } = new List<Product>();

    
}